In [40]:
from cassandra.cluster import Cluster

In [41]:
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [42]:
# Create a keyspace

In [43]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION =
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1}"""
)

except Exception as e:
    print(e)

In [44]:
# connecting to the Keyspace

In [45]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [46]:
# Create a table

In [47]:
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Execption as e:
    print(e)

In [48]:
# No error found

In [49]:
#Returning the inserted rows

In [50]:
query = "select count(*) from music_library"
try:
    count = session.execute(query)
except Exception as e:
    print(e)
    
print(count.one())

Row(count=0)

In [51]:
# Inserting rows

In [52]:
query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + "VALUES(%s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)

In [53]:
# Validate the data

In [54]:
query = "SELECT * FROM music_library"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.album_name, row.artist_name)

1965 Rubber Soul The Beatles
1970 Let it Be The Beatles

In [55]:
# Validate data with where

In [58]:
query = "SELECT * FROM music_library WHERE YEAR = 1970 AND artist_name = 'The Beatles'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.album_name, row.artist_name)

1970 Let it Be The Beatles

In [59]:
# Drop the table

In [60]:
query = "drop table music_library"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [61]:
#Close the session and cluster

In [62]:
session.shutdown()
cluster.shutdown()